[user]
	name = patrickhaahr
	email = git@haahr.me
[url "git@github.com:"]
  insteadof = https://github.com/
[url "git@github.com:"]
  insteadof = gh:
[url "git@github.com:patrickhaahr/"]
  insteadof = ph:
[init]
	defualtBranch = master
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.local
[pull]
	rebase = true
