[user]
	name = patrickhaahr
	email = 117731913+patrickhaahr@users.noreply.github.com
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defualtBranch = main
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
