[user]
	name = patrickhaahr
	email = git@haahr.me
[url "git@github.com:"]
	insteadOf = https://github.com/
[init]
	defualtBranch = master
[core]
	editor = nvim
	excludesfile = ~/.gitignore_global
[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
[include]
	path = ~/.gitconfig.local
